In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [58]:
data = pd.read_csv("diabetes.csv")

In [59]:
data.describe (include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Number of times pregnant,768.0,NaN,NaN,NaN,3.845052,3.369578,0.0,1.0,3.0,6.0,17.0
Plasma glucose concentration,768.0,NaN,NaN,NaN,120.894531,31.972618,0.0,99.0,117.0,140.25,199.0
Diastolic blood pressure,768.0,NaN,NaN,NaN,69.105469,19.355807,0.0,62.0,72.0,80.0,122.0
Triceps skin fold thickness,768.0,NaN,NaN,NaN,20.536458,15.952218,0.0,0.0,23.0,32.0,99.0
2-Hour serum insulin,768.0,NaN,NaN,NaN,79.799479,115.244002,0.0,0.0,30.5,127.25,846.0
Body mass index,768.0,NaN,NaN,NaN,31.992578,7.88416,0.0,27.3,32.0,36.6,67.1
Diabetes pedigree function,768.0,NaN,NaN,NaN,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age (years),768.0,NaN,NaN,NaN,33.240885,11.760232,21.0,24.0,29.0,41.0,81.0
Class variable,768,2,NO,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Number of times pregnant       768 non-null    int64
 1    Plasma glucose concentration  768 non-null    int64
 2    Diastolic blood pressure      768 non-null    int64
 3    Triceps skin fold thickness   768 non-null    int64
 4    2-Hour serum insulin          768 non-null    int64
 5    Body mass index               768 non-null    float64
 6    Diabetes pedigree function    768 non-null    float64
 7    Age (years)                   768 non-null    int64
 8    Class variable                768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [61]:
data.head(5)

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES

In [62]:
X  = data.iloc[:,:-1]

In [63]:
X.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [64]:
y = data.iloc [:,-1]

In [65]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3, random_state=9 )

In [66]:
X_train.shape

(537, 8)

In [67]:
y_train.value_counts()

NO     350
YES    187
Name:  Class variable, dtype: int64

In [68]:
y_test.value_counts()

NO     150
YES     81
Name:  Class variable, dtype: int64

In [69]:
X_train.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
542,10,90,85,32,0,34.9,0.825,56
589,0,73,0,0,0,21.1,0.342,25
439,6,107,88,0,0,36.8,0.727,31
173,1,79,60,42,48,43.5,0.678,23
51,1,101,50,15,36,24.2,0.526,26

In [70]:
X_test.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
456,1,135,54,0,0,26.7,0.687,62
260,3,191,68,15,130,30.9,0.299,34
651,1,117,60,23,106,33.8,0.466,27
143,10,108,66,0,0,32.4,0.272,42
666,4,145,82,18,0,32.5,0.235,70

In [71]:
model = GaussianNB()

In [72]:
model.fit(X_train,y_train)

GaussianNB()

In [73]:
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

In [74]:
accuracy_score(y_pred_train, y_train)

0.7746741154562383

In [75]:
accuracy_score(y_pred_test, y_test)

0.7575757575757576

In [76]:
confusion_matrix(y_pred_train, y_train)

array([[297,  68],
       [ 53, 119]])

In [77]:
confusion_matrix(y_pred_test, y_test)

array([[130,  36],
       [ 20,  45]])

In [78]:
print (classification_report(y_pred_train, y_train))

              precision    recall  f1-score   support

          NO       0.85      0.81      0.83       365
         YES       0.64      0.69      0.66       172

    accuracy                           0.77       537
   macro avg       0.74      0.75      0.75       537
weighted avg       0.78      0.77      0.78       537

In [79]:
print (classification_report(y_pred_test, y_test))

              precision    recall  f1-score   support

          NO       0.87      0.78      0.82       166
         YES       0.56      0.69      0.62        65

    accuracy                           0.76       231
   macro avg       0.71      0.74      0.72       231
weighted avg       0.78      0.76      0.76       231