In [183]:
def mul(x):
  return x*3

result = map(mul,ls.values())
print(result)
print(dict(result))

<map object at 0x7f920a994890>

TypeError: ignored

In [180]:
ls = {1: 10, 2: 20}

In [182]:
ls.values()

dict_values([10, 20])

In [ ]:
for k, v ()

In [ ]:
ls = "Kishan"
print(ls*2)

KishanKishan

In [ ]:
# function to double the number
def num (n) :
    return n * 2
          
lst = [2, 44, 5.5, 6, -7]
  
# suppose we want to call function
# 'num' for each element of lst,
# we use map
  
# creates a map object
x = map(num, lst) 
print(x) 
  
# returns list
print(list(x))

<map object at 0x7f9212b57d90>
[4, 88, 11.0, 12, -14]

In [ ]:
ls = [1,2,3]

In [ ]:
print(ls[0])
print(ls[1])

1
2

In [ ]:
"""List
any data types 
nested list
Ordered
List comphrehension - single line, less code , conditions
Slice, dice - Index, Negative index
Concat

"""

In [ ]:
#Tuple

In [ ]:
# Mutable -
Immutable
ls = []
list (a)

In [ ]:
tuple(1,2)

In [ ]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

()

In [ ]:
# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [ ]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [ ]:
# nested tuple
my_tuple = (10, 20, 30 ,"mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

(10, 20, 30, 'mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
my_tuple[1:]

(20, 30, 'mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
my_tuple[-1:]

((1, 2, 3),)

In [ ]:
my_tuple[2][0]

TypeError: ignored

In [ ]:
my_tuple[3][3]

's'

In [ ]:
my_tuple[4][1]

4

In [ ]:
first_tuple = ()

In [ ]:
print (first_tuple)

()

In [ ]:
ft = (1,2,3)

In [ ]:
ft =

In [ ]:
ft = (10, 2.0, "Hello", [20,10,56], (10,20))

In [ ]:
ft[3][0] = 30

In [ ]:
ft[4][0] = 1000

TypeError: ignored

In [ ]:
ft

(10, 2.0, 'Hello', [30, 10, 56])

In [ ]:
ft

(10, 2.0, 'Hello', [20, 10, 56])

In [ ]:
ft[2][2]

'l'

In [ ]:
ft1 = (10,20,30)

In [ ]:
ft2 = ft+ft1

In [ ]:
ft2

(10, 2.0, 'Hello', [20, 10, 56], 10, 20, 30)

In [ ]:
ft2[3][0] = 30

In [ ]:
ft2[4] = 100

TypeError: ignored

In [ ]:
# Code for converting a list and a string into a tuple
list1 = [0, 1, 2]

print(tuple(list1))

list2 = tuple(list1)
#print(tuple('python')) # string 'python'

(0, 1, 2)

In [ ]:
type (list1)

list

In [ ]:
type(list2)

tuple

In [ ]:
list = [0,1,2]
b = tuple(list)

In [ ]:
b

(0, 1, 2)

In [ ]:
type(b)

tuple

In [ ]:
for i in list2:
   print (i)

0
1
2

In [ ]:
ft2.count(10)

2

In [ ]:
del ft2

In [ ]:
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

result = zip(languages, versions)
print(tuple(result))
#result

# Output: [('Java', 14), ('Python', 3), ('JavaScript', 6)]

(('Java', 14), ('Python', 3), ('JavaScript', 6))

In [ ]:
tp = (1,1,1,2,2,4,3)

In [ ]:
tp.count(3)

1

In [ ]:
tuple

In [ ]:
"""Tuple
hetergenous
duplicate
immutable"""

'Tuple\nhetergenous\nduplicate\nimmutable'

In [ ]:
""" Set

Hetergenous
duplicate not allowed#
Mutable
Unordered, cannot be access via index"""

' Set\n\nHetergenous\nduplicate not allowed#\nMutable\nUnordered, cannot be access via index'

In [ ]:
my_set = {1, 2, 3,2,3,3}
print(my_set)

{1, 2, 3}

In [ ]:
# set of mixed datatypes
my_set1 = {1.0, "Hello", 2, 3, 2, (1, 2, 3, 4, 4), (1, 2, 3, 4, 4)}
print(my_set1)

{1.0, 2, 3, 'Hello', (1, 2, 3, 4, 4)}

In [ ]:
my_set1 = {1.0, "Hello", 2, 3, "2", 2.0, 2.0, 2.01 , (1, 2, 3, 4, 4), (1, 2, 3, 4, 4)}
print(my_set1)

{1.0, 2, 3, 'Hello', 2.01, '2', (1, 2, 3, 4, 4)}

In [ ]:
1.0, "Hello", 2,3, (1,2,3,4,4) - 11

In [ ]:
1.0, "Hello", 2,3, (1,2,3,4,4),(1,2,3,4,4) - 3

In [ ]:
my_set1[0]

TypeError: ignored

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [ ]:
my_set = {1, 3}

In [ ]:
my_set

{1, 2, 3, 4, 200}

In [ ]:
my_set.update((2, 3, 4))
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set.add(200)

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

#my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [ ]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [ ]:
# Output: {1, 3, 5, 6}
my_set.remove(4)
print(my_set)

KeyError: ignored

In [103]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

{'d', 'l', 'r', 'o', 'H', 'e', 'W'}

In [ ]:
# pop an element
# Output: random element
print(my_set.pop())

d

In [104]:
# pop another element
my_set.pop()
print(my_set)

{'l', 'r', 'o', 'H', 'e', 'W'}

In [ ]:
# clear my_set
# Output: set()
my_set.clear()
print(my_set)

In [ ]:
my_set[2][1]

TypeError: ignored

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [105]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [106]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [107]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [108]:
#Intersection
print(A & B)

{4, 5}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
B

{4, 5, 6, 7, 8}

In [109]:
print(A - B)

{1, 2, 3}

In [110]:
A.difference(B)

{1, 2, 3}

In [111]:
B.difference(A)

{6, 7, 8}

In [ ]:
A.union b is same as or not as  b.union a

In [ ]:
A.difference(B) is same as or not as b.difference(a)

In [115]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [114]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [113]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [117]:
A

{1, 2, 3, 4, 5}

In [118]:
# Creating a set using string
test_set = set("Inceptez")
 
# Iterating using for loop
for val in test_set:
    print(val)

z
I
c
t
p
n
e

In [ ]:
#set

unique elements
unordered / cannot be accessed via index
mutable
remove, discard
union - intersection = symmetric difference
{}
set
iterate, set , for i in set
Nested set - 3 examples

In [121]:
#Creating a set using string
test_set = set("Inceptez")
 
# Iterating using list-comprehension
com = [print(val) for val in test_set]

z
I
c
t
p
n
e

In [125]:
# empty dictionary
#my_dict = {}


# dictionary with integer keys
my_dict1 = {1: 'apple', 2: 'ball', 2:'ball'}

In [126]:
my_dict1

{1: 'apple', 2: 'ball'}

In [135]:
# dictionary with mixed keys
my_dict2 = {"Employee": 'A10000', "Salary": 100000}

In [132]:
my_dict2

{'Employee': '10000', 'Salary': 100000}

In [ ]:
print (my_dict)

{1: 'apple', 2: 'ball'}

In [ ]:
print (my_dict1)
print (my_dict2)
print (my_dict3)

{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}

In [139]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

print(my_dict['name'])

Jack

In [140]:
my_dict.items()

dict_items([('name', 'Jack'), ('age', 26)])

In [141]:
my_dict.keys()

dict_keys(['name', 'age'])

In [142]:
my_dict.values()

dict_values(['Jack', 26])

In [143]:
# Output: 26
print(my_dict.get('age'))

26

In [144]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

In [145]:
my_dict

{'age': 27, 'name': 'Jack'}

In [146]:
#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [155]:
# Removing elements from a dictionary
# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
# Output: 16
#print(squares.pop(4))

In [156]:
b = squares.pop(4)

In [157]:
print (squares)
print (b)

{1: 1, 2: 4, 3: 9, 5: 25}
16

In [158]:
# Output: (5, 25)
print(squares.popitem())

(5, 25)

In [159]:
squares.clear()

In [ ]:

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# remove an arbitrary item, return (key,value)
# Output: (5, 25)
print(squares.popitem())

# Output: {1: 1, 2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: ignored

In [162]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [163]:
for item in marks.items():
    print(item)

('Math', 0)
('English', 0)
('Science', 0)

In [165]:
# Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [166]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [167]:
even_squares = {x: x*x for x in range(11) if x % 2 == 0}

In [169]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
#print(1 in squares)

# Output: True
#print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

False

In [ ]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [175]:
# Dictionary Built-in Functions
squares = {'b': 100, 'a': 20000, 'c': 1000}

#print(len(squares))

# Output: [0, 1, 3, 5, 7, 9]
print(sorted(squares))

['a', 'b', 'c']

In [ ]:
"""""
#Dictionary
d = {}
dict()
list()
tuple()

#Key, value ad

key - unique, value, duplicate
access through  key , value
Mutable
pop
popitem
key can be number, alphabet
sorted 
#Nested dictionary
#iterating a diction

map? YES - 6

NO -

Not sure - 4

In [ ]:
"""Exercise

Input: list = [1, 2, 3]
Output: [(1, 1), (2, 8), (3, 27)]

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]"""

'Exercise\n\nInput: list = [1, 2, 3]\nOutput: [(1, 1), (2, 8), (3, 27)]\n\nInput: list = [9, 5, 6]\nOutput: [(9, 729), (5, 125), (6, 216)]'

In [197]:
def root(x):
  return x*x*x

a = [1,2,2,3]

result = map(root,a)

ka = zip(a,result)

#print (ka)

print(dict(ka))

{1: 1, 2: 8, 3: 27}

In [ ]:
YES - 
NO -
NOT SURE -

In [ ]:
# 1, 8, 27

#ka  = (1, 1), (2, 8), (3, 27)


#[(1, 1), (2, 8), (3, 27)]

In [ ]:
"""
Given two lists a, b. Check if two lists have at least one element common in them.

Examples:

Input : a = [1, 2, 3, 4, 5]
        b = [5, 6, 7, 8, 9]
Output : True

Input : a=[1, 2, 3, 4, 5]
        b=[6, 7, 8, 9]
Output : False """

'\nGiven two lists a, b. Check if two lists have at least one element common in them.\n\nExamples:\n\nInput : a = [1, 2, 3, 4, 5]\n        b = [5, 6, 7, 8, 9]\nOutput : True\n\nInput : a=[1, 2, 3, 4, 5]\n        b=[6, 7, 8, 9]\nOutput : False '

In [ ]:
""" The original tuple is : (7, 8, 9, 1, 10, 7)
The summation of tuple elements are : 42

In [209]:
d = (7,8,9,1,10,7)
result = sum(d)
print (result)

42

In [ ]:
"""Given three arrays, we have to find common elements in three sorted lists using sets.

Examples :

Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]

Input : ar1 = [1, 5, 5]
        ar2 = [3, 4, 5, 5, 10]
        ar3 = [5, 5, 10, 20]

Output : [5]""

In [ ]:
"""iven a dictionary in Python, write a Python program to find the sum of all items in the dictionary.

Examples: 

Input : {‘a’: 100, ‘b’:200, ‘c’:300}
Output : 600

Input : {‘x’: 25, ‘y’:18, ‘z’:45}
Output : 88""