In [ ]:
def mul(x):
  return x*x

ls = [1,2,3]

result = map(mul,ls)
print(result)
print(list(result))

<map object at 0x7f238892d250>
[1, 4, 9]

In [ ]:

# function to double the number
def num (n) :
    return n * 2
          
lst = [2, 44, 5.5, 6, -7]
  
# suppose we want to call function
# 'num' for each element of lst,
# we use map
  
# creates a map object
x = map(num, lst) 
print(x) 
  
# returns list
print(list(x))

<map object at 0x7f238897d110>
[4, 88, 11.0, 12, -14]

In [ ]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
first_tuple = ()

In [ ]:
print (first_tuple)

()

In [ ]:
ft = (1,2,3)

In [ ]:
ft = (10, 2.0, "Hello", [20,10,56])

In [ ]:
ft

(10, 2.0, 'Hello', [20, 10, 56])

In [ ]:
ft[2][2]

'l'

In [ ]:
ft1 = (10,20,30)

In [ ]:
ft2 = ft+ft1

In [ ]:
ft2

(10, 2.0, 'Hello', [20, 10, 56], 10, 20, 30)

In [ ]:
ft2[3][0] = 30

In [ ]:
ft2[4] = 100

TypeError: ignored

In [ ]:
# Code for converting a list and a string into a tuple
 
list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python')) # string 'python'

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
list = [0,1,2]
b = tuple(list)

In [ ]:
b

(0, 1, 2)

In [ ]:
type(b)

tuple

In [ ]:
for i in first_tuple:
   print (i)

1
2
3

In [ ]:
ft2.count(10)

2

In [ ]:
del ft2

In [ ]:
hetergenous
duplicate
immutable a

In [ ]:
# Set

In [ ]:
my_set = {1, 2, 3,2,3,3}
print(my_set)

# set of mixed datatypes
my_set1 = {1.0, "Hello", (1, 2, 3, 4, 4), (1, 2, 3, 4, 4)}
print(my_set1)

{1, 2, 3}
{1.0, (1, 2, 3, 4, 4), 'Hello'}

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

#my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [ ]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

{'W', 'd', 'H', 'l', 'o', 'r', 'e'}
W
{'H', 'l', 'o', 'r', 'e'}
set()

In [ ]:
my_set[2][1]

TypeError: ignored

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Intersection
print(A & B)

{4, 5}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
B

{4, 5, 6, 7, 8}

In [ ]:
print(A - B)

{1, 2, 3}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
max(A)

5

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict1 = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict2 = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict3 = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict4 = dict([(1,'apple'), (2,'ball')])

In [ ]:
print (my_dict)

{1: 'apple', 2: 'ball'}

In [ ]:
print (my_dict1)
print (my_dict2)
print (my_dict3)

{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}

In [ ]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

Jack
26
None

KeyError: ignored

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [ ]:
# Removing elements from a dictionary
# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
# Output: 16
print(squares.pop(4))

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# remove an arbitrary item, return (key,value)
# Output: (5, 25)
print(squares.popitem())

# Output: {1: 1, 2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: ignored

In [ ]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)

TypeError: ignored

In [ ]:
# Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: True
print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

True
True
False

In [ ]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [ ]:
# Dictionary Built-in Functions
squares = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

print(len(squares))

# Output: [0, 1, 3, 5, 7, 9]
print(sorted(squares))

6
[0, 1, 3, 5, 7, 9]

In [ ]:
"""Exercise

Input: list = [1, 2, 3]
Output: [(1, 1), (2, 8), (3, 27)]

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]"""

'Exercise\n\nInput: list = [1, 2, 3]\nOutput: [(1, 1), (2, 8), (3, 27)]\n\nInput: list = [9, 5, 6]\nOutput: [(9, 729), (5, 125), (6, 216)]'

In [ ]:
"""
Given two lists a, b. Check if two lists have at least one element common in them.

Examples:

Input : a = [1, 2, 3, 4, 5]
        b = [5, 6, 7, 8, 9]
Output : True

Input : a=[1, 2, 3, 4, 5]
        b=[6, 7, 8, 9]
Output : False """

'\nGiven two lists a, b. Check if two lists have at least one element common in them.\n\nExamples:\n\nInput : a = [1, 2, 3, 4, 5]\n        b = [5, 6, 7, 8, 9]\nOutput : True\n\nInput : a=[1, 2, 3, 4, 5]\n        b=[6, 7, 8, 9]\nOutput : False '

In [ ]:
""" The original tuple is : (7, 8, 9, 1, 10, 7)
The summation of tuple elements are : 42

In [ ]:
"""Given three arrays, we have to find common elements in three sorted lists using sets.

Examples :

Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]

Input : ar1 = [1, 5, 5]
        ar2 = [3, 4, 5, 5, 10]
        ar3 = [5, 5, 10, 20]

Output : [5]""

In [ ]:
"""iven a dictionary in Python, write a Python program to find the sum of all items in the dictionary.

Examples: 

Input : {‘a’: 100, ‘b’:200, ‘c’:300}
Output : 600

Input : {‘x’: 25, ‘y’:18, ‘z’:45}
Output : 88""